docs/UwvZwMeldingInternBody-v0428-b01-Envelope.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Dit bestand is automatisch gegenereerd door GenerateUwvMLEnvelope rev. 207 -->
<!-- Verwijzingen naar documentatie zijn te vinden in -->
<!-- het XML Schema van de body, i.e. in UwvZwMeldingInternBody-v0428-b01.xsd -->

<xsd:schema targetNamespace="http://schemas.xmlsoap.org/soap/envelope/" 
		xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
		xmlns:uwvh="http://schemas.uwv.nl/UwvML/Header-v0202"
		xmlns:uwvb="http://schemas.uwv.nl/UwvML/Berichten/UwvZwMeldingInternBody-v0428"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		elementFormDefault="qualified" attributeFormDefault="qualified">
	<!--Importeer de UwvML header en de berichtspecifieke body. -->
	<xsd:import namespace="http://schemas.uwv.nl/UwvML/Header-v0202" schemaLocation="UwvML-Header-v0202-b02.xsd"/>
	<xsd:import namespace="http://schemas.uwv.nl/UwvML/Berichten/UwvZwMeldingInternBody-v0428" schemaLocation="UwvZwMeldingInternBody-v0428-b01.xsd"/>
	
	<!--SOAP envelope aangepast voor UwvML.-->
	<xsd:element name="Envelope" type="SOAP-ENV:Envelope"/>
	<xsd:complexType name="Envelope">
		<xsd:sequence>
			<xsd:element name="Header" type="SOAP-ENV:Header"/>
			<xsd:element name="Body" type="SOAP-ENV:Body"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Header">
		<xsd:sequence>
			<xsd:element ref="uwvh:UwvMLHeader"/>
				<!--Gedefinieerd in het UwvML headerschema.-->
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Body">
		<xsd:sequence>
			<xsd:element ref="uwvb:UwvZwMeldingInternBody"/>
				<!--Gedefinieerd in het berichtspecifieke bodyschema.-->
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>